.container {
  position: relative;
  top: -1.875rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4.125rem;
  text-align: center;
  max-width: 66.5rem;
  background: $adoramaBlue;
  text-align: center;
  border-radius: $borderRadius;

  @include breakpoint-down(medlrg) {
    margin: 1rem;
  }

  @include breakpoint-down(medium) {
    margin-bottom: 17.9375rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  @include breakpoint-down(small) {
    border-radius: 10px;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.375rem 3.75rem;
    font-size: 1.3125rem;
    color: $white;

    @include breakpoint-down(medium) {
      padding: 0.9375rem 1.8125rem;
      font-size: 0.9375rem;
    }

    @include breakpoint-down(small) {
      font-size: 0.875rem;
      padding: 0 1.875rem;
      color: $fontBlack;
      background: $greyBorder;
      padding-top: 0.75rem;
      display: flex;
      flex-direction: column;
      border-top-left-radius: $borderRadius;
      border-top-right-radius: $borderRadius;
    }

    @include breakpoint-down(mobile) {
      text-transform: lowercase;
      line-height: 1.5;
    }

    :first-letter {
      text-transform: uppercase;
    }

    .mobile-title {
      display: none;
      text-transform: none;
      line-height: 1;

      @include breakpoint-down(small) {
        display: flex;
        font-size: 26px;
        padding-bottom: 10px;
        white-space: nowrap;
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;

    color: $white;

    @include breakpoint-down(large) {
      text-align: right;
    }
    @include breakpoint-down(medium) {
      flex-direction: column;
    }

    @include breakpoint-down(small) {
      text-align: center;

      @include breakpoint-down(mobile) {
      }
    }
    p {
      text-align: right;
      font-size: 1.875rem;
      padding: 2.25rem 1.75rem 2.8125rem 1.5rem;

      @include breakpoint-down(large) {
        font-size: 1.5rem;
      }

      @include breakpoint-down(medium) {
        text-align: center;
        font-size: 18px;
        padding: 1.5625rem 1.3125rem;
        margin: 0 auto 5px;
      }

      @include breakpoint-down(small) {
        padding: 1rem 1.3125rem;
        font-size: 1rem;
      }

      @include breakpoint-down(mobile) {
        margin-top: 12px;
        padding: 8px 6px;
        font-size: 15px;
      }
    }

    button {
      background: $buttonColor;
      border-radius: $buttonRadius;
      border: none;
      color: $white;
      font-size: 1.5rem;
      font-weight: bold;
      display: flex;
      padding: $buttonPadding;
      min-width: 25rem;
      width: 25rem;
      height: 3.75rem;
      justify-content: center;
      align-items: center;

      margin-right: 1.625rem;

      cursor: pointer;

      @include breakpoint-down(medium) {
        padding: 1rem 6.25rem;
        margin: 0rem;
        margin-bottom: 1.5rem;
        width: 50%;
        height: 3rem;
        font-size: 1.25rem;
      }

      @include breakpoint-down(small) {
        font-size: 1rem;
        padding: 1rem 3.0625rem;
        margin-bottom: 1rem;
        min-width: 220px;
        width: 13.75rem;
        height: 2.25rem;
      }

      @include breakpoint-down(mobile) {
        height: 36px;
        width: 220px;
        margin-top: 0.5rem;
        margin-bottom: 1.5rem;
      }
    }
  }
}
