//colors
$adoramaBlue: #006aad;
$greyBorder: #f3f3f3;
$lightOrange: #ffa229;
$darkOrange: #e38400;
$white: #fff;
$fontBlack: #222;

$buttonColor: linear-gradient($lightOrange, $darkOrange);

$buttonPadding: 0.75rem 1.5rem;
$buttonRadius: 5px;
$borderRadius: 10px;
$defaultFont: 1.3125rem;
